#header_base
{
    height: 50px;
    line-height: 50px;
}

.title
{
    text-align: center;
    height: 50px;
}

.title a
{
    font-size: 2em;
    color: #FFFFFF;
    text-decoration: none;
}

.nav .col-xs-4,
header .col-xs-3,
.profil .col-xs-6
{
    padding: 0;
}

.nav .menu-pencil,
.nav .menu-briefcase,
.nav .menu-education {
    color: white;
    line-height: 45px;
    padding-top: 5px;
}

.nav .icon
{
    font-size: 2em;
    text-align: center;
}

.nav .menu-pencil-down,
.nav .menu-briefcase-down,
.nav .menu-education-down
{
    width: calc(11.11111111% - 10px);
    display: none;
    background-color: #3B5798;
    position: fixed;
    padding: 10px;
    font-size: 0.8em;
    list-style-type: none;
}

.nav .menu-pencil:hover,
.nav .menu-briefcase:hover,
.nav .menu-education:hover
{
    background-color: #3B5798;
}

.nav .dropdown-menu
{
    border-radius: 0;
    margin: 0;
}

.profil button
{
    font-size: 1.5em;
    border: 0;
    padding: 0;
    margin: 0;
    height: 50px;
    width: 100%;
    color: white;
    text-decoration: none;
    background-color: #133175;
    text-align: center;
    outline: none;
}

.title,
.profil button
{
    transition-property: background-color;
    transition-duration: 400ms;
    -moz-transition-property: background-color;
    -moz-transition-duration: 400ms;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 400ms;
    -o-transition-property: background-color;
    -o-transition-duration: 400ms;
}

.title:hover,
.profil button:hover
{
    background-color: #20418E;
}

.profil button
{
    color: #FFFFFF;
    font-size: 1.5em;
    text-decoration: none;
}

.profil .dropdown button
{
    font-size: 1.2em;
}

.profil .glyphicon-triangle-bottom
{
    font-size: 0.7em;
    float: right;
    top: 18px;
    right: 10px;
}

.dropdown{
    height: 50px;
}

.dropdown-menu
{
    padding: 0;
    margin: 0;
    background-color: #20418E;
    width: 100%;
    border: 0;
    border-radius: 0;
}

.dropdown-menu .li .a
{
    color: #FFFFFF;
}


