.filtre
{
    height: calc(100% - 80px);
}

.none{
    display:none;
}

#recherche
{
    width: 100%;
    height: 50px;
    border: 1px none #133175;
    border-right-style: solid;
    outline: 0;
    padding: 10px;
    margin: 0;
}

.filtre .col-xs-4,
.filtre .col-xs-12
{
    background-color: #041948;
    color: #FFFFFF;
    font-size: 1.2em;
    border: 0;
    border-radius: 0;
    height: 50px;
    padding: 0;
    margin: 0;
    outline: 0;
    text-align: center;
    transition-property: background-color;
    transition-duration: 400ms;
    -moz-transition-property: background-color;
    -moz-transition-duration: 400ms;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 400ms;
    -o-transition-property: background-color;
    -o-transition-duration: 400ms;
}

.filtre .col-xs-4:hover,
.filtre .col-xs-12:hover
{
    background-color: #3B5798;
}

.filtre .active
{
    background-color: #133175;
}

.filtre .board-nav
{
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-align: center;
}

.filtre .glyphicon-triangle-bottom
 {
     float: right;
     font-size: 0.8em;
 }

.filtre .col-xs-12 .glyphicon-book
{
    margin-right: 10px;
}

#domaine,
#matiere,
#theme,
#chapitre,
#type,
#niveau
{
    font-style: italic;
    width: 100%;
    min-height: 50px;
    background-color: #133175;
    border: 0;
    outline: 0;
    color: #FFFFFF;
    padding: 10px;
    margin: 0;
    text-align: left;
    transition-property: background-color;
    transition-duration: 400ms;
    -moz-transition-property: background-color;
    -moz-transition-duration: 400ms;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 400ms;
    -o-transition-property: background-color;
    -o-transition-duration: 400ms;
}

#domaine-list,
#matiere-list,
#theme-list,
#chapitre-list,
#type-list,
#niveau-list
{
    display: none;
    max-height: calc(100% - 400px);
    width: 100%;
    overflow: auto;
    margin: 0;
}

#domaine-list::-webkit-scrollbar-track,
#matiere-list::-webkit-scrollbar-track,
#theme-list::-webkit-scrollbar-track,
#chapitre-list::-webkit-scrollbar-track,
#type-list::-webkit-scrollbar-track,
#niveau-list::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#domaine-list::-webkit-scrollbar,
#matiere-list::-webkit-scrollbar,
#theme-list::-webkit-scrollbar,
#chapitre-list::-webkit-scrollbar,
#type-list::-webkit-scrollbar,
#niveau-list::-webkit-scrollbar
{
    width: 12px;
    border-radius: 10px;
    background-color:  rgba(6,92,176, 0.8);
}

#domaine-list::-webkit-scrollbar-thumb,
#matiere-list::-webkit-scrollbar-thumb,
#theme-list::-webkit-scrollbar-thumb,
#chapitre-list::-webkit-scrollbar-thumb,
#type-list::-webkit-scrollbar-thumb,
#niveau-list::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.titre-group,
.choix
{
    width: 100%;
    background-color: #20418E;
    border: 0;
    outline: 0;
    color: #FFFFFF;
    padding: 10px;
    margin: 0;
    transition-property: background-color;
    transition-duration: 400ms;
    -moz-transition-property: background-color;
    -moz-transition-duration: 400ms;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 400ms;
    -o-transition-property: background-color;
    -o-transition-duration: 400ms;
}

.titre-group
{
    font-weight: bold;
}

.choix
{
    text-align: left;
    font-size: 0.9em;
}

.choix:hover
{
    background-color: #3B5798;
}

.one
{
    padding-left: 15px;
}

.two{
    padding-left: 20px;
}

.three
{
    padding-left: 25px;
}

#domaine:hover,
#matiere:hover,
#theme:hover,
#chapitre:hover,
#type:hover,
#niveau:hover
{
    background-color: #20418E;
}

footer
{
    background-color: #041948;
    color: #3B5798;
    text-align: center;
    font-size: 0.8em;
    height: 80px;
    padding: 5px;
    bottom:0;
    text-decoration: none;
    transition-property: color;
    transition-duration: 400ms;
    -moz-transition-property: color;
    -moz-transition-duration: 400ms;
    -webkit-transition-property: color;
    -webkit-transition-duration: 400ms;
    -o-transition-property: color;
    -o-transition-duration: 400ms;
}

footer a:hover
{
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}
