.donneesEvaluation,
.donneesForum
{
    display: none;
}

.donneesCours,
.donneesEvaluation,
.donneesForum
{
    padding-top: 10px;
    width: 931px;
    margin: auto;
}

.etiquette
{
    width: 210px;
    margin: 10px;
    height: 210px;
    background-color: #B8B8B8;
    border-radius: 10px;
    display: inline-block;
}

.etiquette .titre
{
    height: 170px;
}

.etiquette .description
{
    height: 170px;
    display: none;
}

.etiquette .infos .row
{
    background-color: #555;
    height: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0;
    padding: 0;
}

.etiquette .infos .col-xs-2
{
    margin: 0;
    padding: 0;
}

.etiquette .infos .pertinent
{
    background-color: #5cb85c;
    height: 40px;
}

.etiquette .infos .developper
{
    background-color: #f0ad4e;
    height: 40px;
}

.etiquette .infos .inadequat
{
    margin-left: 174px;
    background-color: #d9534f;
    height: 40px;
    border-bottom-right-radius: 10px;
}

.question
{
    width: 100%;
    margin: 10px;
    height: 60px;
    background-color: #555;
    border-radius: 5px;
    display: inline-block;
}

.evaluation
{
    width: 287px;
    margin: 10px;
    height: 100px;
    background-color: #555;
    border-radius: 5px;
    display: inline-block;
}