html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

header
{
    background-color: #133175;
    height: 50px;
    width: 100%;
    position: fixed;
    line-height: 50px;
    z-index: 100;
}

.board
{
    background-color: #133175;
    width: 210px;
    height: calc(100% - 50px);
    position: fixed;
    bottom: 0;
    left: 0;
    top: 50px;
}