{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class="nav">
        <div class="col-xs-4">
            <div class="menu-pencil">
                <div class="icon">
                    <span class="glyphicon glyphicon-pencil"></span>
                </div>
                <ul class="menu-pencil-down">
                    <li>Bonjour !</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="menu-briefcase">
                <div class="icon">
                    <span class="glyphicon glyphicon-briefcase"></span>
                </div>
                <ul class="menu-briefcase-down">
                    <li>Bonjour !</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="menu-education">
                <div class="icon">
                    <span class="glyphicon glyphicon-education"></span>
                </div>
                <ul class="menu-education-down">
                    <li>Bonjour !</li>
                </ul>
            </div>
        </div>
    </div>
{% endif %}
