{% for donnees in listDonnees %}
    <div class="etiquette">
        <div class="titre">

        </div>
        <div class="description">

        </div>
        <div class="infos">
            <div class="row">
                <div class="col-xs-2">
                    <div class="structure">

                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="temps">

                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="fiabilite">

                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="pertinent">

                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="developper">

                    </div>
                </div>

                    <div class="inadequat">

                    </div>

            </div>
        </div>
    </div>
{% endfor %}